<head>
	  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
          
<nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo"><i class="material-icons">store</i>Fuego Restaurant</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="sass.html"><i class="material-icons">home</i></a></li>
        <li><a href="collapsible.html"><i class="material-icons">phone</i></a></li>
        <li><a href="mobile.html"><i class="material-icons">description</i></a></li>
      </ul>
    </div>
  </nav>
  <style>    
		nav ul li a{
 	 	color: black;
		}    
</style>
  <hr>
			<h2 class="text-center">We only have 5 tables! Book your seat before they all are gone!</h2>
			<br>


  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input id="first_name" type="text" class="validate">
          <label for="first_name">Name</label>
        </div>
        <div class="input-field col s6">
          <input id="last_name" type="text" class="validate">
          <label for="last_name">Phone number</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="email" type="email" class="validate">
          <label for="email">Email</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="email" type="email" class="validate">
          <label for="email">Id</label>
        </div>
      </div>
    </form>
  </div>

<div class="row">

  <div class="col m6">
    <ul class="collection">
      <li class="collection-item">Alvin</li>
      <li class="collection-item">Alvin</li>
      <li class="collection-item">Alvin</li>
      <li class="collection-item">Alvin</li>
    </ul>
   </div>
  <div class="col m6">      
    <ul class="collection">
      <li class="collection-item">Alvin</li>
      <li class="collection-item">Alvin</li>
      <li class="collection-item">Alvin</li>
      <li class="collection-item">Alvin</li>
    </ul>
  </div>
            
	


</div>
        